.social-media-links {
  margin-right: 10px;
}

.social-media-links:last-child {
  margin-right: 0;
}

.green-link {
  font-weight: bold !important;
  font-size: x-large !important;
  margin: 0 10px !important;
  text-decoration: none !important;
}

.green-link a{
  color: rgba(136, 78, 25, 1) !important;
  text-decoration: none !important;
}

.green-link:hover {
  background-color: #ccc; /* grey background on hover */
  color: #fff; /* white text on hover */
  transform: scale(1.1); /* scale up on hover */
}
.container-fluid {
  background-color: white !important;
}
